.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.links{
  padding: 30px 0 0 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.links a{
  position: relative;
  top:0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width:55px;
  height: 55px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.links a:hover{
  position: relative;
  top: -5px;
  filter: drop-shadow( 0 0 5px #00aaff) drop-shadow( 0 0 10px #00aaff)
  
}

.links a:hover svg{
  text-shadow: 0 5px 10px #0099ff;

}
.contact form{
  padding-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact form *{
  width: 100%;
  font-size: 20px;
}
form label{
  padding-left: 10px;
}
form input, form textarea {
  padding: 5px 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border-top: 1px solid black ;
  border-left: 1px solid black ;
  border-bottom: 1px solid rgb(58, 58, 58) ;
  border-right: 1px solid rgb(58, 58, 58) ;
}

form input:focus, form textarea:focus{
  border: 2px solid #0099ff ;
  box-shadow: 0 0 10px #0099ff ;
  outline: none;
}
form textarea{
  width: 100%;
  height: 200px;
  resize: vertical;
}

form button{
  font-size: 30px !important;
  margin-top: 20px;
  padding: 10px;
  width: 320px !important;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  border-bottom: 4px  solid rgba(0, 152, 179, 0.5);
}
form button:hover{
  background-color: rgba(0, 152, 179, 0.5);
}
form button:active{
  
  border-bottom: 4px  solid red;
}
form h3{
  display: block;
  text-align: center;
  font-size: 24px;
  background-color: rgba(0, 152, 179,1) ;
}
@media (max-width: 500px){
  .links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
  }
  .links a{
    margin: 0 auto;
  }
}
@media (max-width: 768px){
  .contact {
    width: 100vw;
    padding: 10px;
  }
}
@media (min-width: 769px){
  .contact {
    width: 700px;
  }
}
@media (min-width: 1200px){
  .contact {
    width: 1000px;
    padding: 20px;
  }
}