.navbar, 
.navbar-list{
  display: flex;
  align-items: center;

}

.navbar{
  width: 100%;
  position: fixed;
  top: 0;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 0 0 5px gray;
  z-index: 9999;
  background-color: #EDEDED;
}

.navbar-logo{
  display: flex;
  align-items: center;
}

.navbar-logo span{
  font-size: 32px;
  font-family: cursive;
  font-style: italic;
  letter-spacing: -3px;
}

.navbar-list{
  justify-content: center;
  height: 50px;
  line-height: 50px;
}

.navbar-list a{
  display: inline;
  cursor: pointer;
  height: 100%;
  text-decoration: none;
}

.navbar-list a.active{
  background: rgba(0, 152, 179, 0.5);
  border-radius: 10px;
  border-bottom: 3px solid red;
  top: -5px;
  position: relative;
  
}

.navbar-list .link{
  color: black;
}
.navbar-list .link.black{
  color: white;
}

.navbar-list a span{
  padding: 0px 5px;
  font-weight: 600;
}
.navbar-list button{
  background-color: transparent;
  width: 30px;
  height: 30px;
  border: none;
}
.navbar-list button span{
  padding: 0;
  font-size: 18px;

}

button{
  font-size: 12px;
  font-weight: 600;
}
img{
  width: 50px;
}

.navbar-list.small-screens{
  display: none;
}

.navbar-list.small-screens a{
  padding: 0 5px;
  zoom: 1.2;
}


@media screen and (max-width: 500px) {
  .navbar-list.small-screens{
    display: flex;
  }
  .navbar-list.small-screens a{
    padding: 0 ;
    zoom: 1.2;
  }
  .navbar-list.main-div{
    display: none;
  }

  .navbar-logo{
    transform-origin: 0 50%;
    transform: scale(0.9);
  }
  .navbar-logo span{
    font-size: 28px;
    letter-spacing: -2px;
  }


}

