.navpage{
  margin: 0;
  padding: 0 20px 20px 20px;
  box-sizing: border-box;
}

.empty-div{
  height: 70px;
}

.page-div{
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

@media (max-width: 500px){
  .navpage{
    padding: 0;
  }
}
@media (max-width: 768px){
  .navpage{
    padding: 0 10px;
  }
}